@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    font-family: 'Inter', sans-serif;
    margin: 0px;
    font-size: 30px;
}

body {
    height: 100vh;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.style-light {
    background-color: #d5d5d5;
    color: #101010;
}

.style-dark {
    background-color: #101010;
    color: #d5d5d5;
}

.theme__icon {
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 3rem;
    cursor:pointer;
}

.theme__text {
    font-size: 1rem;
}

.theme__title {
    font-size: 2rem;
    font-weight: 500;
}