* {
    font-family: 'Inter', sans-serif;
    background-color: #101010;
    color: #d5d5d5;
    margin: 0px;
}


.container__calculator {
    padding: 10rem;
}

.calculator__inputArea {
    font-size: 2rem;
    margin-bottom: 0.3rem;
    grid-column: 1 / 5;
    padding: 1rem;
}

.calculator__numbers {
    display: grid;
    grid-template-columns: repeat(4, 0fr);
    gap: 0.3rem;
    font-size: 2rem;
}

.numbers__number {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(48, 48, 119);
    padding: 1.7rem;
    font-weight: 600;
    user-select: none;
    cursor: pointer;
}

.numbers__number--c {
    display: flex;
    align-self: center;
    background-color: rgb(173, 81, 53);
    padding: 1.7rem;
    grid-column: 1 / 3;
    font-weight: 600;
    text-align: center;
    user-select: none;
    cursor: pointer;
}

.numbers__number--operator {
    display: flex;
    align-self: center;
    background-color: rgb(27, 177, 197);
    padding: 1.7rem;
    font-weight: 600;
    text-align: center;
    user-select: none;
    cursor: pointer;
}

.numbers__number--equals {
    display: flex;
    align-self: center;
    background-color: rgb(19, 90, 46);
    padding: 1.7rem;
    grid-column: 3 / 5;
    font-weight: 600;
    text-align: center;
    user-select: none;
    cursor: pointer;
}

.numbers__number--equals:hover {
    background-color: rgb(19, 168, 76);
}

.numbers__number--operator:hover {
    background-color: rgb(16, 140, 156);
}

.numbers__number--c:hover {
    background-color: rgb(224, 66, 18);
} 

.numbers__number:hover {
    background-color: rgb(54, 77, 153);
}